
<div class="container"  ng-controller="cookController" ng-init="collectUserMenus()">
    <h1>My Menus</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
      </div>



      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Menu Basic Info</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Price</th>
                  <th>Created On</th>
                  <th>Edited On</th>
                  <th></th>
                </tr>
            </thead>
            <tbody dir-paginate="product in products | orderBy: 'status' | itemsPerPage: 10">
              <tr>
                <td><a href="/cook/menus/{{product.id}}">{{product.name}}</a></td>
                <td>TBD</td>
                <td>{{product.status}}</td>
                <td>{{product.price}} €</td>
                <td>{{product.createdAt | date:'medium'}}</td>
                <td>{{product.createdAt | date:'medium'}}</td>
              <td><a href ng-click="editMenu(product.id)">Edit</a></td>
              </tr>
            </tbody>
        </table>
        <dir-pagination-controls></dir-pagination-controls>
          </div>
        </div>
      </div>
  </div>
</div>
<hr>
