
<div class="container"  ng-controller="cookController" ng-init="collectUserMenus()">
    <h1>My Menus</h1>
  	<hr>
	<div class="row">


      <!-- edit form column -->
      <div class="col-md-12 personal-info">
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" placeholder="Search your menu" ng-model="searchMenu">
            </div>
          </div>
        </form>


        <table class="table table-striped">
            <thead>
                <tr>
                  <th><a href="#" ng-click="listOrderMenu = 'name'"> Name <span class="fa fa-caret-down"></span> </a></th>
                  <th><a href="#" ng-click="listOrderMenu = 'date'">Dinner Date<span class="fa fa-caret-down"></span> </a></th>
                  <th><a href="#" ng-click="listOrderMenu = 'price'">Price<span class="fa fa-caret-down"></span> </a></th>
                  <th><a href="#" ng-click="listOrderMenu = 'createdAt'">Created On<span class="fa fa-caret-down"></span> </a></th>
                  <th><a href="#" ng-click="listOrderMenu = 'editedOn'">Edited On<span class="fa fa-caret-down"></span> </a></th>
                  <th><a href="#" ng-click="listOrderMenu = 'status'">Status<span class="fa fa-caret-down"></span> </a></th>
                  <th></th>
                </tr>
            </thead>
            <tbody dir-paginate="product in products | orderBy: listOrderMenu | itemsPerPage: 10 | filter:searchMenu">
              <tr>
                <td><a href="/menus/{{product.id}}">{{product.name}}</a></td>
                <td>{product.date}}</td>
                <td>{{product.price}} €</td>
                <td>{{product.createdAt | date:'dd/MM/yyyy'}}</td>
                <td>{{product.updatedAt | date:'dd/MM/yyyy'}}</td>
                <td>{{product.status}}</td>
              <td><a href="/cook/menus/{{product.id}}">Edit</a></td>
              <td><a href="/cook/orders/{{product.id}}">Orders</a></td>
              </tr>
            </tbody>
        </table>
            <dir-pagination-controls></dir-pagination-controls>
            <form action="create/" method="get">
              <input class="btn btn-xl" type="submit" value="Create New Menu">
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
<hr>
